@import url('https://fonts.googleapis.com/css2?family=Play:wght@400;700&family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

:root {
    --cor-primaria: #f6c954;
    --cor-secundaria: #221f1a;
    --cor-white: #fff;
}

* {
    font-family: "Play", system-ui;
    font-weight: 400;
    font-style: normal;
    margin: 0;
    padding: 0;
}

.content {
    background: var(--cor-primaria);
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    height: calc(100vh - 20px);
    border: 10px solid var(--cor-secundaria);
}

/*sessão 01 */
.imgBook {
    height: 40rem;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.theLine {
    height: 40rem;
    border-left: 2px solid var(--cor-secundaria);
}

.rightContent {
    width: 25%;
    color: var(--cor-secundaria);
}

.leftContent {
    width: 25%;
    color: var(--cor-secundaria);
}

.rightContent p {
    font-size: 20px;
    font-weight: bold;
    font-family: "Quicksand", sans-serif;
}

.rightContent h1 {
    font-weight: bold;
    font-size: 100px;
    padding: 3rem 0;
    padding-bottom: 2rem;
}

.rightContent h2 {
    font-size: 20px;
    font-weight: bold;
    padding-bottom: 2rem;
    font-family: "Quicksand", sans-serif;
}

.buyNow {
    background-color: var(--cor-secundaria);
    color: var(--cor-primaria);
}

.reviewButton {
    color: var(--cor-secundaria);
}

.rightContent a {
    align-items: center;
    border: 2px solid var(--cor-secundaria);
    border-radius: 30px;
    cursor: pointer;
    display: inline-flex;
    font-family: "Quicksand", sans-serif;
    font-size: 15px;
    font-weight: bold;
    justify-content: center;
    min-width: 100px;
    min-height: 20px;
    padding: 15px;
    margin: 0 20px;
    transition: .4s;
    text-decoration: none;
}

.rightContent a:hover {
    background: var(--cor-secundaria);
    color: var(--cor-primaria);
}

/*sessão 02 */
#contentBack {
    background: var(--cor-secundaria);
}

.leftContent2 {
    color: var(--cor-white);
    width: 25%;
}

.rightContent2 {
    color: var(--cor-white); 
    width: 25%;
}

.leftContent2 h1 {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 3rem;
}

.leftContent2 h2 {
    font-size: 20px;
    text-align: left;
    margin-bottom: 1rem;
}

.leftContent2 p {
    align-items: flex-start;
    text-align: left;
}

.leftContent2 ul {
    list-style: none;
    margin-bottom: 20px;
}

.leftContent2 li {
    margin-left: 10px;
}

.leftContent2 h3 {
    font-weight: bold;
    margin-bottom: 20px;
}

.leftContent2 a {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    min-width: 150px;
    min-height: 20px;
    padding: 15px;
    border: 2px solid var(--cor-primaria);
    border-radius: 30px;
    margin: 0 20px;
    font-weight: bold;
    font-size: 15px;
    transition: .4s;
    cursor: pointer;
    text-decoration: none;
    color: var(--cor-secundaria);
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    background: var(--cor-primaria);
    margin-bottom: 20px;
}

.leftContent2 a:hover {
    background: var(--cor-white);
    border-color: var(--cor-white);
    color: #202020;
    font-weight: bold;
}

.theLine2 {
    height: 40rem;
    border-left: 2px solid var(--cor-primaria);
}

.container {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#pag0 {
    opacity: 0;
    height: 40rem;
}

#pag1, #pag2, #pag3 {
    position: absolute;
    transition: transform 0.3s ease;
    height: 40rem;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

#pag1 {
    z-index: 3;
    top: 10px;
}

#pag2 {
    z-index: 2;
    top: 10px;
}

#pag3 {
    z-index: 1;
    top: 10px;
}

/*sessão celular */
@media screen and (max-width: 767px) {
    .content {
        background: var(--cor-primaria);
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        text-align: center;
        height: 100%;
        border: 10px solid var(--cor-secundaria);
        padding: 50px 20px;
    }

    .imgBook {
        height: 30rem;
        box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    }

    .theLine {
        height: 0;
        margin: 40px;
        width: 20rem;
        border-bottom: 2px solid var(--cor-secundaria);
    }

    .theLine2 {
        border-bottom: 2px solid var(--cor-primaria);
        margin: 40px;
        width: 20rem;
        height: 0;
    }

    .leftContent {
        width: fit-content;
    }

    .rightContent {
        width: fit-content;
    }

    .leftContent2 {
        width: fit-content;
    }

    .rightContent2 {
        width: fit-content;
    }

    .rightContent a {
        margin: 20px 20px;
    }

    #pag1 {
        height: 30rem;
    }

    #pag2, #pag3 {
        opacity: 0;
    }
}